name: "publish"
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: install frontend dependencies
        run: npm install

      - name: build frontend manually for windows
        run: |
          $env:VITE_TAURI_BUILD="true"
          npm run build:tauri
        shell: powershell

      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: app-v__VERSION__
          releaseName: "Magium Recrystallized v__VERSION__"
          releaseDraft: true
          prerelease: false
